* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lesson-icon img:hover{
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.img-responsive{
  height: 550px;
  width: 550px;
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}



.top-wrapper{
  padding: 100px 0 100px 0;
  background-size: cover;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  background-image: url(https://www.tagar.id/Asset/uploads2019/1572043694062-pantai-pasir-putih-lampung.jpg);
}


.top-wrapper h1{
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #15795b;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
  display: none;
}

fa-bars {
    display: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: #6E242B;
  position :fixed;
  top: 0;
  z-index: 10;
}
.lesson-icon h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.logo {
  width: 180px;
  margin-top: 15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}
.alter{ 
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: none;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
  
}
.lessons img:hover{
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon h3 {
  position: absolute;
  top: 44%;
  width: 100%;
  color: rgb(0, 0, 0);
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}
.item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: none;
}
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #6E242B;
  cursor: pointer;
  box-shadow: 0 10px #0b351c;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: black;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
img {
width: 100%;
height: 100%;
display: block;
object-fit: cover;
}


  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.item {
  position: relative;
  height: 19rem;
  background-color: lightGrey;
  overflow-y: hidden;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
.item h3 {
  margin: 0;
  display: block;
  background-color: #6E242B;
  padding: 1rem;
  transform: translate3d(0, -100%, 0);
  transition: transform 300ms;
}
.item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.item a:hover ~ .item__overlay, .item a:focus ~ .item__overlay {
  transform: translate3d(0, 0, 0);
}
.item a:hover ~ .item__overlay h3, .item a:focus ~ .item__overlay h3 {
  transform: translate3d(0, 0, 0);
}
.item a:hover ~ .item__overlay .item__body, .item a:focus ~ .item__overlay .item__body {
  opacity: 1;
}

.item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: unset;
}
.item__overlay h3{
  color: #fff;
}
.item__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  transition: transform 300ms;
  background-color: #eee;
  transform: translate3d(0, 100%, 0);
}

.item__body {
  flex-grow: 1;
  padding: 1rem;
  opacity: 0;
  transition: opacity 500ms 100ms;
}
.item__body p {
  margin: 0;
}

